{
  "env": {
    "cjs": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs",
            "useBuiltIns": true
          }
        ]
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "es6": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "modules": false,
            "useBuiltIns": true
          }
        ]
      ]
    }
  }
}
