{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "jsx-a11y/img-has-alt": "off",
    "react/jsx-space-before-closing": "off"
  }
}
